//====================================================================================================

.footer {
    @include adaptiveValue("padding-top", 90, 65, 968, 320, 1);
    @include adaptiveValue("padding-bottom", 90, 65, 968, 320, 1);

    &__container {
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: rem(30);
        }

        @media (max-width:$tablet){
            flex-direction: column;
            row-gap: rem(30);
        }
    }

    &__menu {

        @media (max-width:$tablet){
            display: inline-block;
            margin: 0 auto;
        }
    }

    &__list {
        display: flex;

        @media (max-width:$mobile){
            flex-wrap: wrap;
            row-gap: rem(15);
            justify-content: center;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: rem(25);
        }
    }

    &__link {
        color: $primaryColor;

        @media (any-hover: hover){
            &:hover{
                text-decoration: underline;
            }
        }
    }

    &__socials {
    }

    &__social-link {
        &:not(:last-child) {
            margin-right: rem(10);
        }

        img {
            transition: $mainTrs;
            @media (any-hover: hover){
                &:hover{
                    transform: scale(1.3);
                }
            }
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;

        @media (max-width:$tablet){
            text-align: center;
            flex-direction: column-reverse;
            row-gap: rem(30);
        }

        .footer__list {
            margin: 0px auto;
        }
    }
    

    &__text {

        a {
            color: $primaryColor;

            @media (any-hover: hover){
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}


//====================================================================================================
